<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../css/index.css"  rel="stylesheet"/>
    <title>Admin Dashboard</title>
</head>
<body>
    <!-- heading section -->
    <section class="Admin-dashboard">
        <div class="main-heading">
            <h3 class="header">Daystar day care system</h3>
        </div>


        <!-- Admin tabs -->
        <div class="Admin-container">
            <div class="card admin-card" style="width: 18rem;">
                <a href="babiesform.html">
                    <div class="card-body">
                        <span><i class="fa-solid fa-baby my-icon"></i></span>
                      <h5 class="card-title admin-role">Register Baby</h5>
                    </div>
                </a>
              </div>
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <span><i class="fa-solid fa-cart-flatbed  my-icon"></i></span>
                  <h5 class="card-title admin-role">Register Babysitter</h5>
                </div>
              </div>
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <span><i class="fa-solid fa-money-check-dollar my-icon"></i></span>
                  <h5 class="card-title admin-role">Payment Monitor</h5>
                </div>
              </div>
        </div>
        <div class="Admin-container">
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <span><i class="fa-solid fa-file-shield my-icon"></i></span>
                  <h5 class="card-title admin-role">Data Tracker</h5>
                </div>
              </div>
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <span><i class="fa-solid fa-person-dress my-icon"></i></span>
                  <h5 class="card-title admin-role">Procurement Corner</h5>
                </div>
              </div>
            <div class="card admin-card" style="width: 18rem;">
                <div class="card-body">
                    <span><i class="fa-solid fa-right-from-bracket my-icon"></i></span>
                  <h5 class="card-title admin-role">Logout</h5>
                </div>
              </div>
        </div>
       
       


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8bd93dfcff.js" crossorigin="anonymous"></script>
</body>
</html>